body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('black.gif'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white; 
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  span {
    font-size: 24px;
    font-weight: bold;
  }
  
  #cpsSpan {
    color: #007bff; 

  }
  
  footer {
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  footer::before {
    font-size: 14px;
    margin-right: 5px;
  }
  